html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: $font-med;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: $font-big;
  font-weight: 300;
  color: $darkBlue;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: $font-med;
  font-weight: 700;
  color: $darkBlue;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.linkout {
  font-weight: 700;
  font-size: $font-big;
  letter-spacing: 0.2rem;
}

// Flexbox grid
.flex {
  display: flex;
  
  &--jc-sb {
    justify-content: space-between;
  }

  &--ai-c {
    align-items: center;
  }
}

// Visiblity classes
.hide-for-mobile {  // hide on mobile or tablet
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {  // hide on desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}