.header {

  margin-top: 2rem;

  &___logo {  // top-left logo
    img {
      width: 100%;
    }

  }

  &__nav {  // Nav Links
    margin-bottom: 0.1rem;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        background: linear-gradient(to right, $medBlue, $medYellow);
        transition: all 0.2s;
      }
    }
    &-item {
      list-style: none;
      margin-bottom: 1rem;
      font-size: $font-big;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      transition: all 0.2s;
      cursor: pointer;
      padding-left: 3rem;
      color: $darkBlue;

      &:hover {
        color: $medBlue;
      }
    }

    &-link {
      text-decoration: none;
      color: inherit;

      &--active {
        color: $medYellow;
      }

    }
  }
  

  &__toggle {  // mobile hamburger toggle
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 29px;
    cursor: pointer;

    & span {
        position: relative;
        top: 12px;
        margin: 0 auto;
        -webkit-transition-duration: 0s;
        -webkit-transition-delay: 150ms;
    }
    &.active span {
        background-color: transparent;
        -webkit-transition-delay: 150ms;
    }
    & span:before,
    & span:after {
        position: absolute;
        content: '';
    }
    & span,
    & span:before,
    & span:after {
        display: block;
        width: 30px;
        height: 5px;
        background-color: #555;
        border-radius: 5px;
    }
    & span:before {
        margin-top: -10px;
        -webkit-transition-property: margin, -webkit-transform, color;
        -webkit-transition-duration: 150ms;
        -webkit-transition-delay: 150ms, 0;
    }
    & span:after {
        margin-top: 10px;
        -webkit-transition-property: margin, -webkit-transform, color;
        -webkit-transition-duration: 150ms;
        -webkit-transition-delay: 150ms, 0;
    }
    &.active span:before {
        margin-top: 0;
        background-color: #000;
        -webkit-transition-delay: 0, 150ms;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &.active span:after {
        margin-top: 0;
        background-color: #000;
        -webkit-transition-delay: 0, 150ms;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }

  }

  &__cta {  // Call to Action button DOWNLOAD ZIP

    &-btn {

      background-image: linear-gradient(to right, $medBlue, $medYellow);
      padding: 0.75rem 2.5rem;
      border-radius: 2rem;
      border: 0;
      text-decoration: none;
      color: $white;
      font-size: $font-med;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s;
      cursor: pointer;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($black, 0.2);
    }
  }

}