$black: #000;

$darkGrey: hsl(0, 0%, 20%);
$darkBlue: hsl(233, 26%, 24%);
$darkYellow: hsl(35, 100%, 50%);

$medGrey: hsl(0, 0%, 63%);
$medBlue: #0072c6;
$medYellow: #f7941d;

$lightGrey: #f5f5f5;
$lightBlue: #e6f4ff;
$lightYellow: #fff5e6;

$white: #fff;
