@charset "UTF-8";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2.1rem;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(233, 26%, 24%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.linkout {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.download-zip-btn {
  background-image: linear-gradient(to right, #0072c6, #f7941d);
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
.download-zip-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
}
.flex--jc-sb {
  justify-content: space-between;
}
.flex--ai-c {
  align-items: center;
}

@media only screen and (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  margin-top: 2rem;
}
.header___logo img {
  width: 100%;
}
.header__nav {
  margin-bottom: 0.1rem;
}
.header__nav a {
  position: relative;
}
.header__nav a::after {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #0072c6, #f7941d);
  transition: all 0.2s;
}
.header__nav-item {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  cursor: pointer;
  padding-left: 3rem;
  color: hsl(233, 26%, 24%);
}
.header__nav-item:hover {
  color: #0072c6;
}
.header__nav-link {
  text-decoration: none;
  color: inherit;
}
.header__nav-link--active {
  color: #f7941d;
}
.header__toggle > span {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: hsl(233, 26%, 24%);
  transition: all 0.2s;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 8px;
}
.header__toggle.open > span:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.75rem);
}
.header__toggle.open > span:nth-child(2) {
  opacity: 0;
}
.header__toggle.open > span:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.75rem);
}
.header__cta-btn {
  background-image: linear-gradient(to right, #0072c6, #f7941d);
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
.header__cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.overlay--show {
  opacity: 1;
  visibility: visible;
}

.overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 80%;
  max-width: 50rem;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}
.overlay__content--show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.overlay__btn {
  background-image: linear-gradient(to right, #0072c6, #f7941d);
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}

.overlay__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.overlay__text {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.overlay__icon {
  font-size: 8rem;
  margin-bottom: 3rem;
}

.overlay__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.collapsible-content {
  display: none;
}

.collapsible-btn {
  background-image: linear-gradient(to right, #0072c6, #f7941d);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.8;
  margin-top: 2px;
}

.collapsible-btn:focus {
  outline: none;
}

.collapsible-btn:after {
  content: "+";
  float: right;
}

.collapsible-btn.active:after {
  content: "−";
}

.collapsible-content.show {
  display: block;
}

.clock {
  --_ow: clamp(5rem, 60vw, 40rem);
  --_w: 88cqi;
  --_r: calc((var(--_w) - var(--_sz)) / 2);
  --_sz: 12cqi;
  background: #222;
  block-size: var(--_ow);
  border-radius: 24%;
  container-type: inline-size;
  display: grid;
  font-family: ui-sans-serif, system-ui, sans-serif;
  inline-size: var(--_ow);
  margin-inline: auto;
  place-content: center;
}

.clock-face {
  aspect-ratio: 1;
  background: var(--_bgc, #FFF);
  border-radius: 50%;
  block-size: var(--_w);
  font-size: 6cqi;
  font-weight: 700;
  list-style-type: none;
  inline-size: var(--_w);
  padding: unset;
  position: relative;
}

.clock-face time {
  --_x: calc(var(--_r) + (var(--_r) * cos(var(--_d))));
  --_y: calc(var(--_r) + (var(--_r) * sin(var(--_d))));
  display: grid;
  height: var(--_sz);
  left: var(--_x);
  place-content: center;
  position: absolute;
  top: var(--_y);
  width: var(--_sz);
}

.clock-face time:nth-child(1) {
  --_d: 270deg;
}

.clock-face time:nth-child(2) {
  --_d: 300deg;
}

.clock-face time:nth-child(3) {
  --_d: 330deg;
}

.clock-face time:nth-child(4) {
  --_d: 0deg;
}

.clock-face time:nth-child(5) {
  --_d: 30deg;
}

.clock-face time:nth-child(6) {
  --_d: 60deg;
}

.clock-face time:nth-child(7) {
  --_d: 90deg;
}

.clock-face time:nth-child(8) {
  --_d: 120deg;
}

.clock-face time:nth-child(9) {
  --_d: 150deg;
}

.clock-face time:nth-child(10) {
  --_d: 180deg;
}

.clock-face time:nth-child(11) {
  --_d: 210deg;
}

.clock-face time:nth-child(12) {
  --_d: 240deg;
}

.arm {
  background-color: var(--_abg);
  border-radius: calc(var(--_aw) * 2);
  display: block;
  height: var(--_ah);
  left: calc((var(--_w) - var(--_aw)) / 2);
  position: absolute;
  top: calc(var(--_w) / 2 - var(--_ah));
  transform: rotate(0deg);
  transform-origin: bottom;
  width: var(--_aw);
}

.seconds {
  --_abg: rgb(255, 140, 5);
  --_ah: 40cqi;
  --_aw: 1cqi;
  animation: turn 60s linear infinite;
  animation-delay: var(--_ds, 0ms);
}

.minutes {
  --_abg: #333;
  --_ah: 35cqi;
  --_aw: 2.5cqi;
  animation: turn 3600s steps(60, end) infinite;
  animation-delay: var(--_dm, 0ms);
}

.hours {
  --_abg: #333;
  --_ah: 30cqi;
  --_aw: 2.5cqi;
  animation: turn 43200s linear infinite; /* 60 * 60 * 12 */
  animation-delay: var(--_dh, 0ms);
  position: relative;
}

.hours::before {
  background-color: #fff;
  border: 1cqi solid #333;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4cqi;
  position: absolute;
  bottom: -3cqi;
  left: -1.75cqi;
  width: 4cqi;
}

html {
  display: grid;
  height: 100%;
}

body {
  background-image: linear-gradient(175deg, rgb(128, 202, 190), rgb(85, 170, 160), rgb(60, 139, 139));
  -webkit-padding-before: 2em;
          padding-block-start: 2em;
}

p {
  display: none;
  font-family: ui-sans-serif, system-ui, sans-serif;
  text-align: center;
}

@keyframes turn {
  to {
    transform: rotate(1turn);
  }
}
@supports not (left: calc(1px * cos(45deg))) {
  time {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) rotate(var(--_d)) translate(var(--_r)) rotate(calc(-1 * var(--_d)));
  }
  p {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */